      
           <mk-box header="Alta de Partners" [isCollapsable]="false" [isRemovable]="false">
            <form #formGeneral="ngForm" (ngSubmit)="onSubmit()">
                <input type="hidden" name="empresa" #empresa="ngModel" [(ngModel)]="datosGeneral.empresa">
              <div class="col-md-6">
                       <div class="form-group">

            <label for="exampleInputEmail1">Correo * </label>
            <span *ngIf="correo.touched && !correo.valid" class="label label-danger">El correo es requerido</span>
            <input type="email" name="correo" #correo="ngModel" [(ngModel)]="datosGeneral.correo" class="form-control" id="exampleInputEmail1" placeholder="Ingrese su correo" required>
            
          </div>
          <div class="form-group">
              <label for="exampleInputEmail1">Solicitante *</label>
              <span *ngIf="nombres.touched && !nombres.valid" class="label label-danger">El solicitante es requerido</span>
              <input class="form-control" name="nombres" #nombres="ngModel" [(ngModel)]="datosGeneral.nombres" type="text" placeholder="Nombres" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Teléfono *</label>
                <span *ngIf="telefono.touched && !telefono.valid" class="label label-danger">El teléfono es requerido</span>
                <input class="form-control"  name="telefono" #telefono="ngModel" [(ngModel)]="datosGeneral.telefono" type="text" placeholder="Teléfono" required>
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">Empresa</label>
                  <input class="form-control" type="text" placeholder="Empresa o Sociedad">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Páginas Web</label>
                    <textarea class="form-control" rows="3" placeholder="Páginas Web"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">CUIT / RUT / FEIN / TAXPAYER </label>
                    <input class="form-control" type="text" placeholder="CUIT / RUT / FEIN / TAXPAYER ">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Domicilio Comercial</label>
                      <textarea class="form-control" rows="5" placeholder="Domicilio comercial"></textarea>
                  </div>
              </div>
    <div class="col-md-6">
          <div class="form-group">
              <label for="exampleInputEmail1">Calle</label>
              <input class="form-control" type="text" placeholder="Calle">
            </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">Numero</label>
                  <input class="form-control" type="text" placeholder="Numero">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Ciudad</label>
                    <input class="form-control" type="text" placeholder="Ciudad">
                </div>
                <div class="form-group">
                        <label for="exampleInputEmail1">País</label>
                        <input class="form-control" type="text" placeholder="País">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Contácto de Finanzas</label>
                      <input class="form-control" type="text" placeholder="Contácto de Finanzas">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Teléfono Contácto de Finanzas</label>
                      <input class="form-control" type="text" placeholder="Teléfono Contácto de Finanzas">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Correo Contácto de Finanzas</label>
                      <input class="form-control" type="text" placeholder="Correo Contácto de Finanzas">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Medios de la empresa</label>
                      <textarea class="form-control" rows="3" placeholder="Medios de la empresa"></textarea>
                  </div>
              
              </div>
    <div class="col-md-12">
        <div class="card-footer">
            <button type="submit" class="btn  btn-info btn-lg" [disabled]="!formGeneral.form.valid">Enviar datos</button>
          </div>
        </div>
      </form>
    </mk-box>
    