table{width: 100%;}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-table {
    overflow: auto;
  }

  .mat-row:nth-child(even){
    background-color:rgb(213, 224, 247)
  }

.mat-row:nth-child(odd){
    background-color:rgb(245, 237, 237)
}

.encabezado{
      background-color: rgb(124, 153, 248);
      font-size: 18px;
}