<mk-box header="Personalizar Fechas" [isCollapsable]="false" [isRemovable]="false">
  
<label>
    Inicio:
    <input class="form-control" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [(ngModel)]="selectedMoment">
    <owl-date-time #dt></owl-date-time>
</label>
<label>
    Fin:
    <input class="form-control"  [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" [(ngModel)]="selectedMoment2">
    <owl-date-time #dt2></owl-date-time>
</label>
    <div class="box-footer">
        <button type="submit" (click)="enviaFechas()" class="btn btn-primary">Consultar</button>
      </div>
  </mk-box>
<div class="row">
    <div class="col-md-3 col-xs-12">
    <mk-box-info header="Ingresos" iconBackgroundColor="aqua" iconStyleClass="fa fa-fw fa-money">
      $ {{ingreso_total}}
    </mk-box-info>
  </div>
  <div class="col-md-3 col-xs-12">
    <mk-box-info header="CPM" iconBackgroundColor="green" iconStyleClass="fa fa-hand-pointer-o">
      $ {{ingreso_cpm}}
    </mk-box-info>
  </div>
  <div class="col-md-3 col-xs-12">
    <mk-box-info header="Impresiones" iconBackgroundColor="yellow" iconStyleClass="fa fa-flag-o">
     {{impresiones}}
    </mk-box-info>
  </div>
  <div class="col-md-3 col-xs-12">
    <mk-box-info header="Periodo" iconBackgroundColor="red" iconStyleClass="fa fa-star-o">
     
    </mk-box-info>
  </div>
</div>
<mk-box header="Principales resultados" [isCollapsable]="true" [isRemovable]="false">
<div class="row">
<div class="col-md-6 col-xs-12">
  <div class="chart-container">    
        <div id="pieChartContent"><canvas id="canvas"></canvas></div>
       <div *ngIf="cargando" style="margin-left: 120px;"><img src="assets/img/load.gif"></div>
  </div> 
</div>
<div class="col-md-6 col-xs-12">
  <div class="chart-container">    
    <div id="barChartContent"><canvas id="canvas2"></canvas></div>
    <div *ngIf="cargando" style="margin-left: 120px"><img src="assets/img/load.gif"></div>
  </div> 
</div>

</div>
</mk-box>
<mk-box header="Ingreso por creatividad" [isCollapsable]="true" [isRemovable]="false">
  <div class="col-md-12 col-xs-12">
    <div class="chart-container">   
      <div id="barChartContent"><canvas id="canvas4"></canvas></div>
    </div> 
  </div>
</mk-box>
<mk-box header="Data consultada" [isCollapsable]="true" [isRemovable]="false">
  <div class="example-header mat-elevation-z8">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" 
      placeholder="Escriba algo para filtrar">
    </mat-form-field>
</div>
<br>
<div class="example-container mat-elevation-z8">
</div>

<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <!--  Columna ID-->
    <ng-container matColumnDef="dimensionad_exchange_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Id</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.dimensionad_exchange_date}} </mat-cell>
    </ng-container>

    <!-- Columna Apellido -->
    <ng-container matColumnDef="dimensionad_exchange_device_category">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.dimensionad_exchange_device_category}} </mat-cell>
    </ng-container>

    <!-- Columna Nombre-->
    <ng-container matColumnDef="dimensionad_exchange_creative_sizes">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
  <mat-cell *matCellDef="let row"> {{row.dimensionad_exchange_creative_sizes}} </mat-cell>
    </ng-container>

    <!-- Columna Nacionalidad -->
    <ng-container matColumnDef="columnad_exchange_estimated_revenue">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nacionalidad</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.columnad_exchange_estimated_revenue}} </mat-cell>
    </ng-container>

     <!-- Columna Edad -->
     <ng-container matColumnDef="columnad_exchange_impressions">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Edad </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.columnad_exchange_impressions}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="25" [showFirstLastButtons]></mat-paginator>
</div>
</mk-box>
